@page "/"
@inject NavigationManager Navigation
@rendermode InteractiveServer

<PageTitle>Ticket#</PageTitle>

<h1>Ticket#</h1>

<table>
    <tr>
        <td>
            <button @onclick="NavigateToGenerator">Ticket erstellen</button>
        </td>
        <td>
            <button @onclick="NavigateToReader">Ticket lesen</button>
        </td>
    </tr>
</table>

@code
{
    private void NavigateToGenerator()
    {
        Navigation.NavigateTo("/generator");
    }
    private void NavigateToReader()
    {
        Navigation.NavigateTo("/reader");
    }
}