@page "/reader"
@inject DataService Data
@rendermode InteractiveServer

<h1>Ticket auslesen</h1>

@ConvertToHash()

@code
{
    string normaltest = "abcdefg";

    private string ConvertToHash()
    {
        return normaltest.GetHashCode().ToString();
    }
}
