body {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #333332;
    color: #ffffff;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
    word-break: break-all;
    word-wrap: break-word;
}

svg {
    transform: translate(13.75rem);
}

a {
    color: #ffc400;
}

    a:hover {
        color: #866700;
    }

h1 {
    color: #ffc400;
    font-size: 3rem;
    text-align: center;
    padding: 4rem;
}

h2 {
    color: #ffc400;
    font-size: 2.25rem;
}

h3 {
    color: #ffffff;
    font-size: 1rem;
    font-weight: normal;
}

button {
    font-size: 1rem;
    font-weight: bold;
    border-color: #ffc400;
    border-radius: 10rem;
    background-color: #ffc400;
    border-style: none;
    padding: 0.7rem;
}

    button:hover {
        background-color: #866700;
        cursor: pointer;
    }

    button:active {
        background-color: #301f00;
    }

    button:disabled {
        background-color: #866700;
        border-color: #866700;
    }

    button:disabled:hover {
        border-color: #866700;
        cursor: auto;
    }

.greenButton {
    background-color: #24e384;
}

    .greenButton:hover {
        background-color: #148f51;
    }

    .greenButton:active {
        background-color: #04301c;
    }

.redButton {
    background-color: #f42675;
}

    .redButton:hover {
        background-color: #9d0e47;
    }

    .redButton:active {
        background-color: #520b30;
    }

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    justify-content: right;
    margin-bottom: 3rem;
}

    td {
        padding: 0.5rem;
    }

    td h3 {
        offset-position: 2rem;
        text-align: right;
        position: relative;
        top: 0.3rem;
    }

input, textarea {
    border-radius: 10rem;
    border-style: none;
    padding: 0.5rem;
    background-color: #666666;
    color: white;
    width: 20rem;
}

    input[type="file"] {
        display: none;
    }

hr {
    width: 75%;
    border-color: #555555;
    border-style: solid;
}

.spacer {
    margin: var(--space);
}

.right {
    text-align: right;
}
